<div style="display: flex;">
    <h1>Site Bilgileri</h1>
</div>

<div class="insights">
    <div class="sales">
        <span class="material-symbols-outlined icons">
            info
            </span>
        <div class="right">
            <div class="input-box">
                <h2>İletişim Bilgileri</h2>
                <form #updateInformationForm="ngForm" (ngSubmit)="updateInformation(updateInformationForm)">
                    <div class="input-field mb-2">
                        <label for="title">Yetkili Kişi</label>
                        <input [(ngModel)]="informationModel.name" validate type="text" name="name" class="form-control"
                            id="name" required autocomplete="off">
                    </div>

                    <div class="input-field mb-2">
                        <label for="subTitle">Telefon</label>
                        <input [(ngModel)]="informationModel.phone" validate type="text" name="phone" class="form-control"
                            id="phone" autocomplete="off">
                    </div>

                    <div class="input-field mb-2">
                        <label for="description">Fax</label>
                        <input [(ngModel)]="informationModel.fax" validate type="text" name="fax" class="form-control"
                            id="fax" autocomplete="off">
                    </div>

                    <div class="input-field mb-2">
                        <label for="title">Adres</label>
                        <input [(ngModel)]="informationModel.address" validate type="text" name="address" class="form-control"
                            id="address" required autocomplete="off">
                    </div>

                    <div class="input-field mb-2">
                        <label for="title">E-Mail</label>
                        <input [(ngModel)]="informationModel.email" validate type="text" name="email" class="form-control"
                            id="email" required autocomplete="off">
                    </div>

                    <div class="input-field">
                        <div class="btns">
                            <button [disabled]="" class="submit">
                                <i class="fa-solid fa-floppy-disk"></i>
                                <!-- Save -->
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="sales">
        <span class="material-symbols-outlined icons">
            info
            </span>
        <div class="right">
            <div class="input-box">
                <h2>Çalışma Saatleri</h2>
                @for (workDate of workDates; track workDate) {
                    <form #updateWorkDateForm="ngForm" style="margin-bottom: 10px;" (ngSubmit)="updateWorkDate(updateWorkDateForm, workDate)">
                        <div class="input-field mb-2">
                            <label for="address">Gün</label>
                            <input [(ngModel)]="workDate.day" validate type="text" name="day" class="form-control"
                                id="day" required autocomplete="off">
                        </div>
    
                        <div class="input-field mb-2">
                            <label for="email">Saat</label>
                            <input [(ngModel)]="workDate.time" validate type="text" name="time" class="form-control"
                                id="time" autocomplete="off">
                        </div>
    
                        <div class="input-field">
                            <div class="btns">
                                <button [disabled]="" class="submit">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                    <!-- Save -->
                                </button>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
